@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    HTown Publishing<br />
    917 E Nighthawk Drive<br />
    Sandy, UT 84094-0688<br />
    Phone: 801.566.6377<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@HTown-Publishing.com">Support@HTown-Publishing.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Sales@@HTown-Publishing.com">Sales@@HTown-Publishing.com</a>
</address>
